In [1]:
import os
import pandas as pd
os.chdir("D:\\varios\\Cursos\\Udemy_Py _Course\\Nueva carpeta\\")
os.listdir()

['.idea',
 'pandas_intro.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets.zip',
 'swh.csv']

Reading a csv file

In [2]:
df1 = pd.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

Reading a json file

In [3]:
df2 = pd.read_json("supermarkets.json")
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

Reading an excel file

Note: remember to install "openyxl" and "xlrd"

In [4]:
df3 = pd.read_excel("supermarkets.xlsx", sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df4 = pd.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df5 = pd.read_csv("supermarkets-semi-colons.txt",sep = ";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

if the data has no header
we must use the keyword "header = None
otherwise well have the first row as header by default

In [7]:
df6 = pd.read_csv("swh.csv")
df6

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [8]:
df6 = pd.read_csv("swh.csv", header= None)
df6

   0                1              2                 3    4            5   6
0  1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [9]:
# to set an index from a variable from the header
# we use the method
# DataFrame.set_index("column_name",  #determine the variable we are choosing
# inplace= True or False, # True to change original df
# drop = True or False) #True to erase the selected column from the df
#For example taking any from df1-df5
df1.set_index("ID", inplace=True)

DataFrame.set_index() will define what will be the way to index the
dataframe as if it were a matrix with columns and rows
here index are row number and column names are column number
in the same way we adress a dictionary by a key with dataframes
 we index it by the idex value and column name from the header.
ok finalyy to index a datafram we use the method DataFrame.loc[ ]

In [10]:
df1.loc["1":"4"  ,"Address":"State"]

           Address           City             State
ID
1     3666 21st St  San Francisco          CA 94114
2   735 Dolores St  San Francisco          CA 94119
3      332 Hill St  San Francisco  California 94114
4     3995 23rd St  San Francisco          CA 94114

if we want to use numebr as we woukd in a matrix we use DataFrame.iloc[ ]

In [11]:
df1.iloc[0:4,0:3]

           Address           City             State
ID
1     3666 21st St  San Francisco          CA 94114
2   735 Dolores St  San Francisco          CA 94119
3      332 Hill St  San Francisco  California 94114
4     3995 23rd St  San Francisco          CA 94114

Adding, deleting, modifying rows and columns with Pandas

One way to add a column woudl be with the .shape method:

In [12]:
print(df1.shape,"\n",df1.shape[0],"\n",df1.shape[1])

(6, 6)
 6
 6

In [13]:
#definimos la nueva columna así:
df1["continent"] = df1.shape[0]*["North America"]
df1

,Address,City,State,Country,Name,Employees,continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

To modify it we would do

In [14]:
df1["continent"] = "North America is north"
df1

,Address,City,State,Country,Name,Employees,continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America is north
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America is north
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America is north
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America is north
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America is north
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America is north

to add a new row well do a trick
first we transpose the dataframe, then add a column and transpose it again

In [15]:
df1_transposed = df1.T #transpose the df
df1_transposed

ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
continent,North America is north,North America is north,North America is north,North America is north,North America is north,North America is north

In [16]:
#the add a column
df1_transposed["10"] = ["My address","My city", "my state", "my country","my shop","10", "america"]
df1_transposed

ID,1,2,3,4,5,6,10
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My address
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My city
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,my state
Country,USA,USA,USA,USA,USA,USA,my country
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,my shop
Employees,8,15,25,10,12,20,10
continent,North America is north,North America is north,North America is north,North America is north,North America is north,North America is north,america

In [17]:
#the tranpose it again

df1 = df1_transposed.T
df1

,Address,City,State,Country,Name,Employees,continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America is north
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America is north
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America is north
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America is north
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America is north
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America is north
10,My address,My city,my state,my country,my shop,10,america

Ahora vamos con una aplicación

In [23]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

#First we make a full address column to each of the markets
markets= pd.read_csv("supermarkets.csv")
markets["Address"] = markets["Address"]+ ", " + markets["City"]+ ", " + markets["State"]+ ", " + markets["Country"]
markets

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [25]:
#Then we aply the gecoder function to obtain the full location on earth
markets["Location"] = markets["Address"].apply(nom.geocode)
markets

,ID,Address,City,State,Country,Name,Employees,Location
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [26]:
#now we want to obtain the longitud and latitude of the location

markets["Latitud"] = markets["Location"].apply(lambda x: x.latitude if x != None else None)
markets["Longitude"] = markets["Location"].apply(lambda x: x.longitude if x != None else None)
markets

,ID,Address,City,State,Country,Name,Employees,Location,Latitud,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

Note: we have to use lambda function herte because longitude and latitude are methods of the Locatoin object that geocode gives us
so can apply a method through a function.